.body_backgorund {
    background-image: url("https://cdn.pixabay.com/photo/2016/02/27/10/28/abstract-1225379__340.jpg");
    background-position: center;
    background-size: cover;
  }
  h1
  {
      color: white; 
      font-size: 40px;
  }
  
  #myCanvas
  {
      border-width:10px;
      background-color: white; 
      border-style:ridge;
  }
  span
  {
      font-size: 20px;
      color: white;
  }